* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-image {
    height: 250px;
}

.product-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: .3s;
    min-height: 450px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.04); /* Adjust the scale factor as needed */
}


/* .reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.product-title {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-show {
    /* border: 1px solid #3333; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 5px;
}

.peso {
    font-size: 40px;
}

.order {
    color: #2A629A;
}

.carousel-container {
    height: 80vh;
    position: relative;
}

.carousel {
    height: 100%;
    position: relative;
}

.carousel-container h3 {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s ; /* Adding transition */

}

.carousel-container h3:hover {
    transform: scale(1.08); /* Adjust the scale factor as needed */

}

.carousel-image {
    height: 700px;
    width: 800px;
}

/* Style the left and right carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    color: #333; 
    font-size: 5rem; /* Adjust font size as needed */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #fff; /* Hover color */
}

.global-btn {
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
}

.global-btn:hover {
    background-color: #F8993F;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shipping-screen, .payment-screen {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.shipping-screen, .payment-screen h1 {
    color: #fff;
}

Label {
    color: #fff;
}


